<!DOCTYPE html>
<html>
  <head>
    <title>Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      #msg{
        animation: autoHide 0s 5s forwards;
        opacity: 1;
      }
      @keyframes autoHide{
        to {opacity: 0;
        }
      }
    </style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: 0px;top: 0;background-color: lightgray;">
    <%= render partial: 'layouts/navbar' %>
    <br><br><br>
    <div class="body-container">
      <div id="msg" style="z-index: 50;">
        <p class="notice" style="color: red;text-align: center;" ><%= notice %></p>
        <p class="alert" style="color: red;text-align: center;"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
